<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1>You have successfully upgraded to a Premium Membership</h1>
      <h2>You should see a charge of $15 dollars from Blocipedia</h2>
      <h3>You can downgrade your membership at anytime</h3>

    </main>
    
    <% include ../static/partials/baseScripts.ejs %>

  </body>
  </html>